<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/index.css">
    <title>ugly rooms</title>
  </head>

  <body>
      <br>  <br>  <br>  <br>  <br>  <br><br>  <br>  <br>  <br>  <br>  <br>
    <div class="centerDiv">
      <a href="http://localhost:3030/create"><input type="submit" value="Create"></a>
      <br>
      <br>
      <input type="text" name="Code">
      <input type="submit" value="Join">
    </div>

  </body>
</html>
