<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Virtual Classroom</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://threejs.org/build/three.js"></script>
    <script src = "https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="https://cdn.babylonjs.com/babylon.max.js"></script>
    <script src = "js/lib/PlayerControls.js"></script>
  </head>
<style>
        #canvas {
            width: 100%;
            height: 100%;
        }
    </style>
  <body>
    <canvas id = "container"></canvas>
    <script src = "js/player.js"></script>
    <script src = "js/game.js"></script>
    <script src = "js/main.js"></script>
  </body>

</html>