<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Virtual Classroom</title>
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.0/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/rtc/latest/rtc.min.js"></script>
    <script src="https://preview.babylonjs.com/babylon.max.js"></script>
    <script src="https://preview.babylonjs.com/cannon.js"></script>
    <script src="https://preview.babylonjs.com/Oimo.js"></script>
    <script src="https://preview.babylonjs.com/ammo.js "></script>
    
    <script src="js/lib/babylon.gui.min.js"> </script>
    <script src = "js/lib/PlayerControls.js"></script>

  </head>
  <body >
    <div id="l-video"></div>
    <div id="r-video"></div>
    <canvas id = "container"></canvas>
    <script src = "js/player.js"></script>
    <script src = "js/game.js"></script>
    <script src = "js/main.js"></script>
    
    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.22.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.22.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>


  </body>

</html>